<section class="hero is-info is-fullheight has-background-white-ultrasmall">
        <div class="hero-body is-paddingless-ultrasmall">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-one-third-desktop is-half-tablet is-full-mobile is-narrow">
                <div class="box is-radiusless is-borderless">
                  <div id="login-form">
                    <div class="has-text-centered hero">
                        <div class="hero-body center-column p-t-md p-b-lg">
                                <h1 class="row has-text-weight-bold center-tablet is-paddingless-horizontal">Members Login</h1>
                                <p class="subtitle is-size-7 has-text-grey has-text-weight-light">Sign In to your account</p>
                        </div>

                    </div>
                    <div id="login-result" class="notification has-text-centered is-hidden"></div>
                    <form name="login_form" method="post" action="#">
                      <div class="field">
                        <div class="control">
                          <input class="input is-shadowless" name="username" id="username" type="text" placeholder="Username" autofocus data-validate="require">
                        </div>
                      </div>
                      <div class="field">
                        <div class="control has-icon has-icon-right">
                          <input class="input is-shadowless" type="password" name="password" id="password" placeholder="Password" data-validate="require">
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <button type="submit" class="button is-success is-fullwidth">Sign In</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="has-text-centered center">
                    <a class="is-size-7 has-text-grey has-text-weight-light" href="#" style="padding-top:1rem;">Forgot password ?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      