<section id="features" class="section has-background-almost-black psu-curriculum p-t-xl p-b-lg">


    <div class="hero-body">
        <div class="container has-text-centered has-text-white">
            <p class="is-size-4 has-text-weight-semibold">
                    DatumCon is a boutique data science and artificial intelligence
                    consulting cooperative, offering custom expert-level
                    solutions for some of the most complex data problems. 
                    At DatumCon we take pride in clearly communicating our results to
                    audiences of all backgrounds including military,
                    retail, telecom and govermental sectors.
            </p>

        </div>
    </div>

    <div class="container p-t-lg p-b-lg">
            <div class="columns center-column">
                <div class="column is-7-mobile is-4-tablet is-3-desktop">
                    <img class="image is-marginless is-radiusless" src="/assets/static/images/datum-consultants/predict.png" alt="">
                </div>
            </div>
        </div>

        <div class="hero-body">
                <div class="container has-text-centered has-text-white">
                    <p class="is-size-4 has-text-weight-semibold">


                            Our data scientists have a combined experience of nearly 3 decades of
                            academic and real-world experience in turning tough
                            data challenges into practical solutions using machine learning,
                            artificial
                            intelligence, data science, and statistics tools.
                        
                    </p>
        
                </div>
            </div>
</section>