<div class="hero-body is-fullheight is-paddingless stretch-content">



    <div class="column is-relative is-two-thirds-tablet is-half-desktop is-full-mobile is-home-left-column has-background-dark-warning">
        <div class="hero-head">
            <img src="/assets/static/images/datum-consultants/white_logo_transparent.png" alt="">
            <h2 class="has-text-white has-text-weight-semibold has-text-centered is-size-3-desktop is-size-4-tablet is-size-4-mobile">Advanced Analytics and Artificial Intelligence Consultants</h2>
        </div>



        <main class="hero-foot bottom">
                <div id="grid_specs" class="always_collapsed" style="width: 768px;">
                    <div id="a" class="center-column hero-body" style="padding-bottom:0;">
                        <h1 class="title is-size-2-desktop is-size-3-tablet is-size-3-mobile has-text-white has-text-weight-bold has-text-centered">We help you to:</h1>
                    </div>
                    <div id="b" class="center-column">
                        <p class="title has-text-white is-size-4-mobile is-size-4-tablet is-size-3-desktop">
                            Analyze
                        </p>
                    </div>
                    <div id="c" class="center-column" style="border-left: 1px solid white;">
                        <p class="title has-text-white is-size-4-mobile is-size-4-tablet is-size-3-desktop">
                            Model
                        </p>
                    </div>
                    <div id="d" class="center-column" style="border-left: 1px solid white;">
                        <p class="title has-text-white is-size-4-mobile is-size-4-tablet is-size-3-desktop">
                            Predict
                        </p>
                    </div>
                    <div id="e" class="center-column">
                        <a href="mailto:cal@datumcon.com?subject=Datum Consultants Inquiry" class="button is-large is-danger is-inverted is-rounded is-outlined has-text-weight-bold" style="width: 100%; border: 0.15em solid white;">
                            Get a Free Callback
                        </a>
                    </div>
                </div>
            </main>

    </div>

    <div class="column is-on-third-desktop is-half-tablet is-home-right-column non-mobile">

    </div>

</div>









<!-- 

<header class="hero-body" style="height:20vh;padding-bottom: 0;">
    <div class="container align-self-end center-column">
        <img class="is-fullwidth" src="/assets/static/images/psu-curriculum/psu_logo_text.svg" style="height:20vh;">

    </div>
</header>
 -->

