<div class="Cards hero has-background-almost-black p-b-xl datum-consultants">

    <div class="hero-body">

        <div class="columns is-centered has-text-centered">

            <div id="content" class="column is-12">

                <div class="columns is-centered has-text-centered is-tablet-column">

                    <div class="column is-12-tablet is-3-desktop">
                        <div class="card">
                            <div class="card-head notification is-radiusless is-link is-marginless center">
                                <h1 class="is-size-4 has-text-weight-bold">1. Identifying Opportunities</h1>
                            </div>
                            <div class="card-content notification is-primary is-radiusless is-marginless center-non-mobile">
                                <div class="media">
                                    <div class="media-content align-self-center has-text-weight-semibold">
                                        <small class="is-6">
                                            <p>
                                                We run a half day workshop with the relevant stakeholders. There are
                                                three key questions we work through - how do you make money, where do
                                                you lose money, and what data do you have available? From this starting
                                                point, we generate potential uses for AI in your business. The aim at
                                                this stage is to go broad and uncover as many opportunities as
                                                possible.
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="column is-12-tablet is-3-desktop">
                        <div class="card">
                            <div class="card-head notification is-radiusless is-link is-marginless center">
                                <h1 class="is-size-4 has-text-weight-bold">2. Establishing a Business Case</h1>
                            </div>
                            <div class="card-content notification is-danger is-radiusless is-marginless center-non-mobile">
                                <div class="media">
                                    <div class="media-content align-self-center has-text-weight-semibold">
                                        <small class="is-6">
                                            <p>
                                                Each use case is assessed for viability. We look at level of effort
                                                required, speed of adoption/implementation, quality of available data
                                                etc. With your team we look at existing software, processes and
                                                structures and collaborate to understand the potential benefit of each
                                                use case. From this process, we can identify the key uses cases to
                                                consider for pilot.
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="column is-12-tablet is-3-desktop">
                        <div class="card">
                            <div class="card-head notification is-radiusless is-link is-marginless center">
                                <h1 class="is-size-4 has-text-weight-bold">3. Creating a Proof of Concept</h1>
                            </div>
                            <div class="card-content notification is-warning is-radiusless is-marginless center-non-mobile">
                                <div class="media">
                                    <div class="media-content align-self-center has-text-weight-semibold">
                                        <small class="is-6">
                                            <p>
                                                We take a sample of the data and create a proof of concept. This PoC
                                                demonstrates the viability of the use case, showing how actionable,
                                                impactful results can be achieved from the application of AI.
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12-tablet is-3-desktop">
                        <div class="card">
                            <div class="card-head notification is-radiusless is-link is-marginless center">
                                <h1 class="is-size-4 has-text-weight-bold">4. Rolling Out an Effective Plan</h1>
                            </div>
                            <div class="card-content notification is-success is-radiusless is-marginless center-non-mobile">
                                <div class="media">
                                    <div class="media-content align-self-center has-text-weight-semibold">
                                        <small class="is-6">
                                            <p>
                                                Drawing on insight from Weeks 2 and 3, we define a high level rollout
                                                plan, covering required processes, data, resources and timings to give
                                                a clear idea of how the Proof of Concept can be integrated into your
                                                business. We will leave you with a functional prototype producing real
                                                business results, and the tools needed to build out greater capability.
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>