<section class="section is-paddingless-mobile">
    <figure id="three_by_two_grid" class="columns is-mobile is-variable is-0 is-marginless grid-xl p-t-xl p-b-xl">
        <div id="a" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/strategy.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Data Intelligence</h1>
                        <p class="is-size-7 subtitle">We help you realize a comprehensive vision and actionable
                            foundation for your
                            organization’s ability to harness data-related
                            or data-dependent capability. We will also help you will all derived
                            domain-specific
                            strategies, such as Big Data, Machine Learning, Business Intelligence,
                            Artificial
                            Intelligence and so forth.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="b" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/ml.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Machine Learning</h1>
                        <p class="is-size-7 subtitle">DatumCon team members have worked on dynamic pricing for a retail
                            companies,
                            fraud detection for a financial firms,
                            customer segmentation for media, image analysis for narcotics detection for a
                            law
                            enforcement agency among many other machine learning and deep learning
                            projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="c" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/crime.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Security and Fraud Detection</h1>
                        <p class="is-size-7 subtitle">
                                Detecting and preventing fraud is not a simple task, because it is an adaptive crime, and it thus needs special methods of
                                intelligent
                                data analysis to detect and prevent it. We've worked with govermental agencies
                                to
                                detect potential fraud through A.I. powered screening process.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="d" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/nlp.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Natural Language Processing</h1>
                        <p class="is-size-7 subtitle">
                                Our team has effectively helped a national goverment convert large amounts of
                                unstructured data into structured data for
                                sentiment analysis and reputation management, at a very large scale. We have
                                experience
                                in English, Arabic and Spanish Natural Language Processing.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="e" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/open.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Open Audited Frameworks</h1>
                        <p class="is-size-7 subtitle">We use all open source machine learning and big data frameworks, such as Tensorflow,
                                Scikit-learn, Keras, Caffe, MLlib, Hadoop, and
                                Spark, rather than recommending proprietary platforms, so as to
                                ensure that our processing of your date is easily audited and always up to date.
                                </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="f" class="column is-paddingless">
            <div class="card is-borderless p-t-lg p-b-lg">
                <div class="card-image p-b-none center">
                    <figure class="image is-128x128">
                        <img src="/assets/static/images/datum-consultants/chatbot.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-size-6">Conversation Analytics</h1>
                        <p class="is-size-7 subtitle">DatumCon engineers and product managers have successfully
                                deployed machine learning empowered conversational analytics platforms for one of the world's
                                largest Health Organization, originating data driven process optimization pipelines, which reduced customer interaction costs by more than 65%.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</section>