<header class="hero-body" style="padding-bottom:0;padding-top:0.5rem;">
    <div id="grid_products" class="container is-fluid center-column">
        <div id="a" class="center-column">
            <img class="image is-marginless is-radiusless" src="/assets/static/images/wired-broadcast/wb-lte.png" alt="">
        </div>
        <div id="b" class="center-column">
            <img class="image is-marginless is-radiusless" src="/assets/static/images/wired-broadcast/wb-doris.png" alt="">
        </div>
        <div id="c" class="center-column">
            <img class="image is-marginless is-radiusless" src="/assets/static/images/wired-broadcast/wb-r.png" alt="">

        </div>
        <div id="d" class="center-column">
            <h1 class="title is-marginless-mobile is-size-4-tablet is-size-5-mobile has-text-white has-text-weight-bold has-text-centered"><span
                    class="non-ultrasmall">Mediaport</span> LTE</h1>
            <h1 class="non-ultrasmall is-size-6-tablet is-size-7-mobile has-text-white has-text-weight-semibold has-text-centered"><span
                    class="has-text-underlined">Four</span> 3G/4G + <span class="has-text-underlined">One</span>
                Ethernet. Up to <span class="has-text-underlined">6 hours</span> battery. Simple and accessible. </h1>
        </div>
        <div id="e" class="center-column">
            <h1 class="title is-marginless-mobile is-size-4-tablet is-size-5-mobile has-text-white has-text-weight-bold has-text-centered"><span
                    class="non-ultrasmall">Mediaport</span> Doris</h1>
            <h1 class="non-ultrasmall is-size-6-tablet is-size-7-mobile has-text-white has-text-weight-semibold has-text-centered"><span
                    class="has-text-underlined">Four</span> 3G/4G + <span class="has-text-underlined">One</span>
                Ethernet. <span class="has-text-underlined">Viprinet, Doris, HD/SDI, PAL/NTSC, Encrypted Storage</span>.
            </h1>
        </div>
        <div id="f" class="center-column">
            <h1 class="title is-marginless-mobile is-size-4-tablet is-size-5-mobile has-text-white has-text-weight-bold has-text-centered"><span
                    class="non-ultrasmall">Mediaport</span> R</h1>
            <h1 class="non-ultrasmall is-size-6-tablet is-size-7-mobile has-text-white has-text-weight-semibold has-text-centered"><span
                    class="has-text-underlined">Four</span> 3G/4G + <span class="has-text-underlined">One</span>
                Ethernet. IP67-Rated, Compact. Up to <span class="has-text-underlined">12 hours</span> battery. </h1>
        </div>
        <div id="g" class="center-column only-ultrasmall">
            <h1 class="title is-marginless-mobile is-size-5-mobile has-text-white has-text-weight-bold has-text-centered">Mediaport
                LTE, Doris and R, trasmit video over 3G and 4G Networks, last up to 12 hours on a single charge, and
                support Viprinet, Doris, HD/SDI, PAL/NTSC, and Encrypted Storage</h1>
        </div>

    </div>
</header>

<main class="hero-foot center" style="padding:1rem; padding-top:0; padding-bottom:2rem;">
    <div id="grid_specs" style="width: 768px;">
        <div id="a" class="center-column hero-body" style="padding-bottom:1.5rem;">
            <h1 class="title is-1 has-text-white has-text-weight-bold has-text-centered">Wired Broadcast</h1>
            <h1 class="subtitle is-size-4 has-text-white has-text-weight-regular has-text-centered">Resilient Audio and Video
                Connectivity </h1>
        </div>
        <div id="b" class="center-column">
            <p class="title has-text-white">
                <i class="fas fa-microchip has-text-white" style="width: 0.9em; height: 0.9em;"></i>
                3<span class="is-size-5"></span>
            </p>
            <p class="subtitle has-text-white is-7">Products</p>
        </div>
        <div id="c" class="center-column" style="border-left: 1px solid gray;">
            <p class="title has-text-white">
                <i class="fas fa-battery-three-quarters has-text-white" style="width: 0.9em; height: 0.9em;"></i>
                12<span class="is-size-5">h</span>
            </p>
            <p class="subtitle is-7 has-text-white">Battery Life</p>
        </div>
        <div id="d" class="center-column" style="border-left: 1px solid gray;">
            <p class="title has-text-white">
                <i class="fas fa-plug has-text-white" style="width: 0.9em; height: 0.9em;"></i>
                99<span class="is-size-5">.99%</span>
            </p>
            <p class="subtitle is-7 has-text-white">Unbeatable Reliability</p>
        </div>
        <div id="e" class="center-column">
            <a href="#specs" class="button is-large-mobile is-danger is-inverted is-rounded is-outlined has-text-weight-bold"
                style="width: 100%; border: 0.15em solid white;">
                See Specifications
            </a>
        </div>
    </div>
</main>