<section id="specs" class="p-t-lg p-b-lg p-l-xs p-r-xs">


<div class="pricing-table is-comparative is-borderless">
    <div class="pricing-plan is-features">
        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
        <div class="plan-items">
            <div class="plan-item">Enclosure</div>
            <div class="plan-item">Dimensions</div>
            <div class="plan-item">Weight</div>
            <div class="plan-item">Environmental Rating</div>
            <div class="plan-item">Working Temperature</div>
            <div class="plan-item">Power Rating</div>
            <div class="plan-item">Power Supply<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Battery Type</div>
            <div class="plan-item">LAN Interface</div>
            <div class="plan-item">WAN Builtin Modules<br>&nbsp;</div>
            <div class="plan-item">WLAN Access Point</div>
            <div class="plan-item">GPS</div>
            <div class="plan-item">SIM Card Holders</div>
            <div class="plan-item">SNMP</div>
            <div class="plan-item">Bonding Capacity</div>
            <div class="plan-item">REC # LAN Users</div>
            <div class="plan-item">Antenna Connectors<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Frequency Bands<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Security<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Encoders</div>
            <div class="plan-item">Video Inputs<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Processor<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item">Storage</div>
            <div class="plan-item">LAN Interface</div>
            <div class="plan-item">I/O<br>&nbsp;</div>
            <div class="plan-item">Included Accessories<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
        </div>
        <div class="plan-footer">

        </div>
    </div>
    <div class="pricing-plan is-primary">
        <div class="plan-price"><span class="plan-price-amount">MP-LTE</span></div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Enclosure">Portable</div>
            <div class="plan-item" data-feature="Dimensions">200 x 266 x 94 mm</div>
            <div class="plan-item" data-feature="Weight">2.4 kg</div>
            <div class="plan-item" data-feature="Environmental Rating">-</div>
            <div class="plan-item" data-feature="Working Temperature">-10℃ to +45℃</div>
            <div class="plan-item" data-feature="Power Rating">12–24 VDC, 4.3A</div>
            <div class="plan-item" data-feature="Power Supply">100–240V AC mains adaptor (included)<br>External 12–24V DC (XLR 4-pin)<br>Built-in 73Whr Li-Ion battery and charger</div>
            <div class="plan-item" data-feature="Battery Type">Built-in 73Whr Li-Ion battery</div>
            <div class="plan-item" data-feature="LAN Interface">Gigabit Ethernet</div>
            <div class="plan-item" data-feature="WAN Builtin Modules">1 x Gigabit Ethernet (Amphenol<br>MRJ-series RJ-45), 4x LTE</div>
            <div class="plan-item" data-feature="WLAN Access Point">2.4 & 5 GHz Dual Band 802.11a/b/g/n</div>
            <div class="plan-item" data-feature="GPS">L1 band with 1.57 GHz</div>
            <div class="plan-item" data-feature="SIM Card Holders">4 integrated beneath screw-on cover</div>
            <div class="plan-item" data-feature="SNMP">Basic included, Extended optional</div>
            <div class="plan-item" data-feature="Bonding Capacity">45 Mbps</div>
            <div class="plan-item" data-feature="REC # LAN Users">10</div>
            <div class="plan-item" data-feature="Antenna Connectors">2 x SMA for LTE/HSPA+ Aux antenna<br>2 x SMA for WLAN Aux antenna<br>All main antennas built-in<br>&nbsp;</div>
            <div class="plan-item" data-feature="Frequency Bands">LTE-FDD Band 1/3/7/8/20<br>(2100/1800/2600/900/800 MHz)<br>HSPA+/UMTS Band 1/2/5/8<br>(2100/1900/850/900 MHz)<br>GSM/GPRS/EDGE<br>(850/900/1800/1900 MHz)</div>
            <div class="plan-item" data-feature="Security">AES 256-bit CBC, 2048-bit RSA<br> key with SHA256 certificates,<br>TLS 1.2, Diffie-Hellman key exchange with<br>elliptic curves (Perfect Forward Secrecy),<br>VPN Hub public key fingerprinting,<br>All internal services protected with ACLs</div>
            <div class="plan-item" data-feature="Encoders">-</div>
            <div class="plan-item" data-feature="Video Inputs">-<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item" data-feature="Processor">-<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item" data-feature="Storage">-</div>
            <div class="plan-item" data-feature="LAN Interface">-</div>
            <div class="plan-item" data-feature="I/O">-<br>&nbsp;</div>
            <div class="plan-item" data-feature="Included Accessories">Universal mains power supply<br>2 x direct-mount antenna for LTE-Aux<br>2 x direct-mount WLAN-Aux<br>&nbsp;<br>&nbsp;</div>
        </div>
        <div class="plan-footer">
            <a href="mailto:cal@datumcon.com?subject=Wired Broadcast Price Inquiry - MP-LTE" class="button is-fullwidth has-text-weight-bold">Contact Sales</a>
        </div>
    </div>

    <div class="pricing-plan is-link">
        <div class="plan-price"><span class="plan-price-amount">MP-R</span></div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Enclosure">Portable, Ruggedised</div>
            <div class="plan-item" data-feature="Dimensions">186 x 154 x 44 mm</div>
            <div class="plan-item" data-feature="Weight">1.2 kg</div>
            <div class="plan-item" data-feature="Environmental Rating">IP-67</div>
            <div class="plan-item" data-feature="Working Temperature">-19℃ to +49℃</div>
            <div class="plan-item" data-feature="Power Rating">12–24 VDC, 2A max</div>
            <div class="plan-item" data-feature="Power Supply">100–240V AC mains adaptor (included)<br>External 12–24V DC (Lemo connector)<br>2 x Direct-mount AN/PRC148 battery (not included)</div>
            <div class="plan-item" data-feature="Battery Type">2 x Twist-Lock MBITR AN/PRC148 battery</div>
            <div class="plan-item" data-feature="LAN Interface">Gigabit Ethernet</div>
            <div class="plan-item" data-feature="WAN Builtin Modules">1 x Gigabit Ethernet (Amphenol<br>MRJ-series RJ-45), 4x LTE</div>
            <div class="plan-item" data-feature="WLAN Access Point">2.4 & 5 GHz Dual Band 802.11a/b/g/n</div>
            <div class="plan-item" data-feature="GPS">L1 band with 1.57 GHz</div>
            <div class="plan-item" data-feature="SIM Card Holders">4 integrated beneath screw-on cover</div>
            <div class="plan-item" data-feature="SNMP">Basic included, Extended optional</div>
            <div class="plan-item" data-feature="Bonding Capacity">45 Mbps</div>
            <div class="plan-item" data-feature="REC # LAN Users">10</div>
            <div class="plan-item" data-feature="Antenna Connectors">4 x SMA for LTE/DC-HSPA+ MAIN antenna<br>4 x SMA for LTE/DC-HSPA+ AUX antenna<br>2 x SMA for WLAN antenna<br>1 x SMA for GPS antenna</div>
            <div class="plan-item" data-feature="Frequency Bands">LTE-FDD Band 1/3/7/8/20<br>(2100/1800/2600/900/800 MHz)<br>HSPA+/UMTS Band 1/2/5/8<br>(2100/1900/850/900 MHz)<br>GSM/GPRS/EDGE<br>(850/900/1800/1900 MHz)</div>
            <div class="plan-item" data-feature="Security">AES 256-bit CBC, 2048-bit RSA<br>key with SHA256 certificates,<br>TLS 1.2, Diffie-Hellman key exchange with<br>elliptic curves (Perfect Forward Secrecy),<br>VPN Hub public key fingerprinting,<br>All internal services protected with ACLs</div>
            <div class="plan-item" data-feature="Encoders">-</div>
            <div class="plan-item" data-feature="Video Inputs">-<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item" data-feature="Processor">-<br>&nbsp;<br>&nbsp;</div>
            <div class="plan-item" data-feature="Storage">-</div>
            <div class="plan-item" data-feature="LAN Interface">-</div>
            <div class="plan-item" data-feature="I/O">-<br>&nbsp;</div>
            <div class="plan-item" data-feature="Included Accessories">Universal mains power supply<br>8 x direct-mount antenna for LTE<br>2 x direct-mount antenna for WLAN<br>1 x direct-mount antenna for GPS<br>11 x SMA cover</div>
        </div>
        <div class="plan-footer">
                <a href="mailto:cal@datumcon.com?subject=Wired Broadcast Price Inquiry - MP-R" class="button is-fullwidth has-text-weight-bold">Contact Sales</a>
        </div>
    </div>

    <div class="pricing-plan is-danger">
            <div class="plan-price"><span class="plan-price-amount">MP-DORIS</span></div>
            <div class="plan-items">
                <div class="plan-item" data-feature="Enclosure">Portable, Ruggedised</div>
                <div class="plan-item" data-feature="Dimensions">186 x 191 x 76 mm</div>
                <div class="plan-item" data-feature="Weight">3kg</div>
                <div class="plan-item" data-feature="Environmental Rating">IP-67</div>
                <div class="plan-item" data-feature="Working Temperature">-19℃ to +49℃</div>
                <div class="plan-item" data-feature="Power Rating">12–24 VDC, 3A max</div>
                <div class="plan-item" data-feature="Power Supply">100–240V AC mains adaptor (included)<br>External 12–24V DC (Lemo connector)<br>2 x Direct-mount AN/PRC148 battery (not included)</div>
                <div class="plan-item" data-feature="Battery Type">2 x Twist-Lock MBITR AN/PRC148 battery</div>
                <div class="plan-item" data-feature="LAN Interface">Gigabit Ethernet (Extendable)</div>
                <div class="plan-item" data-feature="WAN Builtin Modules">1 x Gigabit Ethernet (Amphenol<br>MRJ-series RJ-45), 4x LTE</div>
                <div class="plan-item" data-feature="WLAN Access Point">2.4 & 5 GHz Dual Band 802.11a/b/g/n</div>
                <div class="plan-item" data-feature="GPS">L1 band with 1.57 GHz</div>
                <div class="plan-item" data-feature="SIM Card Holders">4 integrated beneath screw-on cover</div>
                <div class="plan-item" data-feature="SNMP">Basic included, Extended optional</div>
                <div class="plan-item" data-feature="Bonding Capacity">45 Mbps</div>
                <div class="plan-item" data-feature="REC # LAN Users">10</div>
                <div class="plan-item" data-feature="Antenna Connectors">4 x SMA for LTE/DC-HSPA+ MAIN antenna<br>4 x SMA for LTE/DC-HSPA+ AUX antenna<br>2 x SMA for WLAN antenna<br>1 x SMA for GPS antenna</div>
                <div class="plan-item" data-feature="Frequency Bands">LTE-FDD Band 1/3/7/8/20<br>(2100/1800/2600/900/800 MHz)<br>HSPA+/UMTS Band 1/2/5/8<br>(2100/1900/850/900 MHz)<br>GSM/GPRS/EDGE<br>(850/900/1800/1900 MHz)</div>
                <div class="plan-item" data-feature="Security">AES 256-bit CBC, 2048-bit RSA<br> key with SHA256 certificates,<br>TLS 1.2, Diffie-Hellman key exchange with<br>elliptic curves (Perfect Forward Secrecy),<br>VPN Hub public key fingerprinting,<br>All internal services protected with ACLs</div>
                <div class="plan-item" data-feature="Encoders">2 x Vemotion VB01</div>
                <div class="plan-item" data-feature="Video Inputs">1 x HD-SDI, 2 x PAL/NTSC (Amphenol<br>TNC connector), IP camera(s) optional<br>(Amphenol MRJ-series RJ-45)</div>
                <div class="plan-item" data-feature="Processor">Intel Atom E3845 quad core with H264<br>hardware acceleration, 2M cache<br>1.91 GHz Win10 IoT</div>
                <div class="plan-item" data-feature="Storage">250GB mSATA</div>
                <div class="plan-item" data-feature="LAN Interface">2 x Ethernet (Amphenol MRJ-series RJ-45)</div>
                <div class="plan-item" data-feature="I/O">2 x Lemo 8-pin connector can be<br>configured for RS232/422/485, GPIO, USB</div>
                <div class="plan-item" data-feature="Included Accessories">Universal mains power supply<br>8 x direct-mount antenna for LTE<br>2 x direct-mount antenna for WLAN<br>1 x direct-mount antenna for GPS<br>11 x SMA cover</div>
            </div>
            <div class="plan-footer">
                <a href="mailto:cal@datumcon.com?subject=Wired Broadcast Price Inquiry - MP-DORIS" class="button is-fullwidth has-text-weight-bold">Contact Sales</a>
            </div>
        </div>

</div>

</section>