<section id="features" class="section has-background-black wired-broadcast">


    <div class="hero-body is-paddingless" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <p class="is-size-6 has-text-weight-semibold">
                Wired Broadcast offer a range of IP bonding devices for agile connectivity and a selection of
                companion products and accessories. From the Mediaport® routers that Wired Broadcast manufacture, to the Viprinet®
                products that Wired Broadcast distribute, at the core of our offering is packet-level bonding technology that
                combines consumer-grade connections to deliver high-performance connectivity with uptimes that can
                reach 99.99%.
            </p>

        </div>
    </div>


    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification center is-info is-radiusless content p-t-lg p-b-lg">
                    <h1 class="title is-size-3 is-size-2-mobile">EQUIPMENT</h1>
                    <p class="is-size-7 is-size-6-mobile has-text-justified has-text-weight-bold">
                        Wired Broadcast bring you IP bonding technology and network expertise to create reliable
                        connectivity at remote locations and on the move. Wired Broadcast offer Ultra-portable and rugged Mediaport®
                        bonding routers, the complete line of Viprinet® products, and a select range of companion
                        technologies to create near-instant connectivity wherever you go.<br><br>Wired Broadcast solutions are based on more than 25 years of experience producing and managing
                        broadcasts for the world’s top brands like BBC, CBS, and Live Nation/Ticketmaster, and major
                        events like the Grammy Awards, the Olympics, and royal weddings.<br><br>Whether you need
                        end-to-end location facilities, a trusted provider for all or part of a complex project, or just reliable,
                        low-latency connectivity at short notice, Wired Broadcast solve your most intractable problems
                        and enable your most daring feats. Launching live from a high-speed train? Broadcasting a drive-time show
                        from a moving taxi? Streaming live from a field in the countryside? Whatever your brief, Wired
                        Broadcast help you achieve the impossible.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="notification center is-danger is-radiusless content p-t-lg p-b-lg">
                    <h1 class="title is-size-3 is-size-2-mobile">FEATURES</h1>
                    <ul class="is-size-7 is-size-6-mobile has-text-justified has-text-weight-bold">
                        <li><span>Aggregation of up &amp; downstream bandwidth by bonding of all WAN links</span></li>
                        <li><span>Ability to connect to the Internet &amp; corporate LAN &amp; create site-to-site VPN</span></li>
                        <li><span>Diversification of WAN types &amp; carriers, significantly reducing outage risks
                                &amp; downtime</span></li>
                        <li><span>Patented Distributed Forward Error Correction (DFEC) for ultra-low latency</span></li>
                        <li><span>Deep QoS &amp; traffic shaping</span></li>
                        <li><span>Dynamic &amp; rule-based routing</span></li>
                        <li><span>Portability due to compact size &amp; minimal weight</span></li>
                        <li><span>On-board chargeable battery power (internal or external with up to 6 or 12 hours of
                                run time, depending on model)</span></li>
                        <li><span>Powered by Viprinet® bonding technology</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>