<nav id="header" class="navbar is-fixed-top is-transparent">
    <div class="navbar-brand">
        <a id="headLogo" class="navbar-item" href="#angles">
            <img src="/assets/static/images/index/interkey_original.svg" alt="Interkey Company for Communication & Computer"
                width="100">
        </a>

        <div class="navbar-end">
                <div class="navbar-item p-t-md p-b-md is-hidden-desktop">
                        <div class="control has-icons-left">
                          <div class="select is-small">
                            <select id="language_selector" onchange="window.setLanguage(this.options[this.selectedIndex].value, this.options[this.selectedIndex].getAttribute('hide'))">
                              <option hide="Arabic" selected value="English">English</option>
                              <option hide="English" value="Arabic">عربى</option>
                            </select>
                          </div>
                          <span class="icon is-small is-left">
                              <i class="fas fa-language"></i>
                          </span>
                        </div>
                  </div>
            
        
                <div class="navbar-burger burger" data-target="navMenubd-example">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

        </div>


    </div>

    <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" close="#navMenubd-example" href="#why">
                <h1 class="English grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                    Why Interkey?
                </h1>
                <h1 class="Arabic grow has-text-weight-bold center-tablet is-paddingless-horizontal">لماذا Interkey؟
                </h1>
            </a>
            <a class="navbar-item" close="#navMenubd-example" href="#partners">
                <h1 class="English grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                    Partners
                </h1>
                <h1 dir="rtl" class="Arabic grow has-text-weight-bold center-tablet is-paddingless-horizontal">شريك
                </h1>
            </a>

            <a class="navbar-item" close="#navMenubd-example" href="#domain">
                <h1 class="English grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                    Domain Expertise
                </h1>
                <h1 dir="rtl" class="Arabic grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                خبراء
                </h1>
            </a>

            <a class="navbar-item" close="#navMenubd-example" href="#clients">
                <h1 class="English grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                    Clients
                </h1>
                <h1 dir="rtl" class="Arabic grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                عملاء
                </h1>
            </a>

            <a class="navbar-item" close="#navMenubd-example" href="#touch">
                <h1 class="English grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                    Get in Touch
                </h1>
                <h1 dir="rtl" class="Arabic grow has-text-weight-bold center-tablet is-paddingless-horizontal">
                  اتصل
                </h1>
            </a>

            <!-- <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    <h1 class="is-size-3-mobile is-size-3-tablet is-size-6-desktop">Login</h1>
                    <hr>
                </div>
                <div id="moreDropdown" class="navbar-dropdown ">
                    <a class="navbar-item " href="/login">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <div class="level-item">
                                    <p>
                                        <strong>Member Access</strong>
                                        <br>
                                        <small>Authenticate to access Interkey Restricted Services</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        </div>

        <div class="navbar-end" style="border-left:1px solid #f4f4f4;">

            <a class="navbar-item p-t-sm p-b-sm" href="tel:+966 11 2180 999">
                <h1 class="has-text-weight-bold is-paddingless-horizontal">
                    +966 11 2180 999
                </h1>
            </a>
            <a class="navbar-item p-t-sm p-b-sm" href="mailto:info@interkey.com.sa">
                <h1 class="has-text-weight-bold is-paddingless-horizontal">
                    info@interkey.com.sa
                </h1>
            </a>

            <div class="navbar-item p-t-md p-b-md is-hidden-touch">
                  <div class="control has-icons-left">
                    <div class="select is-small">
                      <select id="language_selector" onchange="window.setLanguage(this.options[this.selectedIndex].value, this.options[this.selectedIndex].getAttribute('hide'))">
                        <option hide="Arabic" selected value="English">English</option>
                        <option hide="English" value="Arabic">عربى</option>
                      </select>
                    </div>
                    <span class="icon is-small is-left">
                        <i class="fas fa-language"></i>
                    </span>
                  </div>
            </div>

        </div>
    </div>

</nav>