<div class="hero has-background-white">

    <div class="hero-body">

        <div class="container">



            <div class="columns is-centered has-text-centered p-b-xl">

                <div class="column is-10-desktop">




                    <div class="columns is-centered has-text-centered p-t-xl p-b-xl center-column" id="clients">

                        <h1 class="English has-text-centered is-fullwidth p-t-xl p-b-xl is-size-1 has-text-weight-semibold has-text-grey"> Some of our clients </h1>
                        <h1 dir="rtl" class="Arabic has-text-centered is-fullwidth p-t-xl p-b-xl is-size-1 has-text-weight-semibold has-text-grey"> بعضٌ من عملائنا</h1>


                        <div class="three_by_two_grid" class="column is-fullwidth" style="z-index:9;">
                            <div class="a">
                                <figure>
                                    <div class="image is-fullheight is-flex center is-fullwidth">
                                        <img src="/assets/static/images/index/clients/sdaia.png">
                                    </div>
                                </figure>
                            </div>
                            <div class="b">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/ELM.png">
                                            </div>
                                        </figure>
                            </div>
                            <div class="c">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/sgp.png">
                                            </div>
                                        </figure>
                            </div>
                            </div>
                        <div class="three_by_two_grid" class="column is-fullwidth" style="z-index:9;">
                            <div class="a">
                                <figure>
                                    <div class="image is-fullheight is-flex center is-fullwidth">
                                        <img src="/assets/static/images/index/clients/c_one_square.jpg">
                                    </div>
                                </figure>
                            </div>
                            <div class="b">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/c_thirteen_square.jpg">
                                            </div>
                                        </figure>
                            </div>
                            <div class="c">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/c_three_square.jpg">
                                            </div>
                                        </figure>
                            </div>
                            <div class="d">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/c_four_square.jpg">
                                            </div>
                                        </figure>
                            </div>
                            <div class="e">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/c_five_square.jpg">
                                            </div>
                                        </figure>
                            </div>
                            <div class="f">
                                    <figure>
                                            <div class="image is-fullheight is-flex center is-fullwidth">
                                                <img src="/assets/static/images/index/clients/c_six_square.jpg">
                                            </div>
                                        </figure>
                            </div>
                        </div>
                        <div class="three_by_two_grid" class="column is-fullwidth" style="z-index:9;">
                                <div class="a">
                                    <figure>
                                        <div class="image is-fullheight is-flex center is-fullwidth">
                                            <img src="/assets/static/images/index/clients/c_seven_square.jpg">
                                        </div>
                                    </figure>
                                </div>
                                <div class="b">
                                        <figure>
                                                <div class="image is-fullheight is-flex center is-fullwidth">
                                                    <img src="/assets/static/images/index/clients/c_eight_square.jpg">
                                                </div>
                                            </figure>
                                </div>
                                <div class="c">
                                        <figure>
                                                <div class="image is-fullheight is-flex center is-fullwidth">
                                                    <img src="/assets/static/images/index/clients/c_nine_square.jpg">
                                                </div>
                                            </figure>
                                </div>
                                <div class="d">
                                        <figure>
                                                <div class="image is-fullheight is-flex center is-fullwidth">
                                                    <img src="/assets/static/images/index/clients/c_ten_square.jpg">
                                                </div>
                                            </figure>
                                </div>
                                <div class="e">
                                        <figure>
                                                <div class="image is-fullheight is-flex center is-fullwidth">
                                                    <img src="/assets/static/images/index/clients/c_eleven_square.jpg">
                                                </div>
                                            </figure>
                                </div>
                                <div class="f">
                                        <figure>
                                                <div class="image is-fullheight is-flex center is-fullwidth">
                                                    <img src="/assets/static/images/index/clients/c_twelve_square.jpg">
                                                </div>
                                            </figure>
                                </div>
                            </div>


                        <!-- 
                        <a class="column is-5">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3 notification is-radiusless is-info">
                                        <img id="integrationImg" src="/assets/static/images/index/integration.svg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content notification is-link is-radiusless">
                                    <div class="media">
                                        <div class="media-content align-self-center">
                                            <p class="title is-4">Data Integration</p>
                                            <small class="is-6">
                                                <div class="content">
                                                    Interkey deploys Enterprise and Military grade data acquisition and integration solutions, specializing in realtime mission critical infrastructures, where billion of data points need to be concurrently ingested by sensors, devices, and heavy machinery.  
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="column is-5 is-offset-1">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3 notification is-radiusless is-info">
                                            <img src="/assets/static/images/index/authdash.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content notification is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="title is-4">Data Intelligence</p>
                                                <small class="is-6">
                                                    <div class="content">
                                                        Don't be ovewhelmed by your own Architecture: Interkey turns your information flows into actionable insights. We help you syntetizing sense out of millions of data streams, by means of solid processing pipelines and ergonomic interactive interfaces.
                                                    </div>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a> -->

                    </div>



                </div>

            </div>


        </div>
    </div>
</div>