<div class="CTA section hero is-fullheight" id="touch">

<div class="hero-body">
  <div class="container">

    <div class="columns is-centered">
      <div class="column is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">          
          <div class="hero hero-body has-text-centered-mobile" style="align-items: inherit !important;">
              <p class="English title is-3 has-text-white">Get in touch.</p>
              <p dir="rtl" class="Arabic title is-3 has-text-white">تواصل معنا.</p>
              <p class="English title is-5 has-text-white">Fill in this form, and we will contact you shortly.</p>
              <p dir="rtl" class="Arabic title is-5 has-text-white">املأ هذا النموذج وسنتصل بك قريبًا.</p>
          </div>
      </div>
      <div class="column hero-body is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">

        <form action="https://docs.google.com/forms/d/1h3u5xa6onMPwG0ou-5gwwxwdUtmPDFv4fujeM22UnCk/formResponse" method="POST" id="mc-embedded-subscribe-form" target="_blank"class="column is-fullwidth">
          <div class="field">
            <div class="control">
              <input class="input required is-shadowless" placeholder="First Name *" type="text" value="" name="entry.1484070919" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input required is-shadowless" placeholder="Last Name *" name="entry.1465844591" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input required is-shadowless" placeholder="Email *" type="email" value="" name="entry.610720514" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="is-warning button is-fullwidth has-text-weight-bold has-text-centered" type="submit"><span class="width: 100% !important; has-text-centered is-fullwidth" style="opacity:0.7;">SEND</span></button>
            </div>
          </div>

        </form>

      </div>


    </div>
  </div>
</div>
</div>