<div class="partners_expanded hero is-paddingless-horizontal">

    <div class="hero-body is-paddingless-horizontal">

        <div class="container is-fluid is-marginless p-lg alternate_background" id="partners">

            <div class="columns is-centered has-text-centered p-b-xl">

                <div class="column is-12">

                    <div class="columns is-centered has-text-centered center-column">

                        <h1 class="English p-t-xl p-b-xl has-text-centered is-fullwidth is-size-3-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
                            Preferred partners in KSA of
                        </h1>
                        <h1 dir="rtl" class="Arabic p-t-xl p-b-xl has-text-centered is-fullwidth is-size-3-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
                            الشركاء المفضلين في المملكة العربية السعودية
                        </h1>

                      
                        <div class="one_by_three_grid column is-fullwidth" style="z-index:9;">
                            <div class="a is-flex">
                                <a target="_blank" href="https://www.datumcon.com/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/datumcon_logo_menu.jpg">
                                        </figure>
                                    </div>
                                  
                                </a>
                            </div>
                            <div class="b is-flex">
                                <a target="_blank" href="https://www.couchbase.com/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/couchbase_logo_menu.jpg">
                                        </figure>
                                    </div>
                                   
                                </a>
                            </div>
                            <div class="c is-flex">
                                <a target="_blank" href="https://www.aecl.com/en/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/aec.png">
                                        </figure>
                                    </div>
                                  
                                </a>
                            </div>

                        </div>

                        <div class="one_by_three_grid column is-fullwidth" style="z-index:9;">
                            <div class="a is-flex">
                                <a target="_blank" href="https://www.huawei.com/en/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/Huawei-logo.png">
                                        </figure>
                                    </div>
                                    
                                </a>
                            </div>
                            <div class="b is-flex">
                                <a target="_blank" href="https://salienceconsulting.ae/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/salience.png">
                                        </figure>
                                    </div>
                                  
                                </a>
                            </div>
                            <div class="c is-flex">
                                <a target="_blank" href="https://www.questionpro.com/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/question.png">
                                        </figure>
                                    </div>
                                  
                                </a>
                            </div>

                        </div>

                        <div class="one_by_three_grid column is-fullwidth" style="z-index:9;">
                            
                            <div class="a is-flex">
                                <div class="a is-flex">
                                    <a target="_blank" href="https://ramatechme.com/" class="grow card">
                                        <div class="card-head p-lg has-border-bottom">
                                            <figure class="image is-radiusless has-white-background">
                                                <img src="/assets/static/images/index/partners/Rama.png">
                                            </figure>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                            <div class="b is-flex">
                                <!-- <a target="_blank" href="https://www.viprinet.com/en" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/viprinet.jpg">
                                        </figure>
                                    </div>
                                 
                                </a> -->
                                <a target="_blank" href="https://en.td-tech.com/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/tdtech.png">
                                        </figure>
                                    </div>
                                 
                                </a>
                            </div>
                            <div class="c is-flex">
                                <a target="_blank" href="https://www.moengage.com/" class="grow card">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background">
                                            <img src="/assets/static/images/index/partners/moengage.png">
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="domain" class="hero is-paddingless-horizontal">

    <div class="hero-body is-paddingless-horizontal">

        <div class="container is-fluid is-marginless p-lg" id="partners">

            <div class="columns is-centered has-text-centered p-b-xl">

                <div class="column is-12">

                    <div class="columns is-centered has-text-centered center-column">

                        <h1 class="English p-b-xl has-text-centered has-text-white is-fullwidth is-size-3-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
                            Interkey has domain experts in
                        </h1>
                        <h1 dir="rtl" class="Arabic p-b-xl has-text-centered has-text-white is-fullwidth is-size-3-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
                            تمتلك Interkey خبراء متخصصين في
                        </h1>

                        <div class="two_by_four_grid column is-fullwidth" style="z-index:9;">
                            <div class="a is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/partners/tensor_keras_pytorch.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Artificial Intelligence with TensorFlow, Pytorch & Keras
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Artificial Intelligence with TensorFlow, Pytorch & Keras
                                                </p>
                                                <!-- <small class="is-6">
                                                        <div class="content">
                                                            
                                                        </div>
                                                    </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/partners/GIS.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Geographical Information Systems
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    نظم المعلومات الجغرافية
                                                </p>
                                                <!-- <small class="is-6">
                                                            <div class="content">
                                                                
                                                            </div>
                                                        </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/partners/docker.png">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Docker & Kubernetes
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Docker & Kubernetes
                                                </p>
                                                <!-- <small class="is-6">
                                                        <div class="content">
                                                            
                                                        </div>
                                                    </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/nvidia.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Nvidia Deep Learning Stack
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Nvidia Deep Learning Stack
                                                </p>
                                                <!-- <small class="is-6">
                                                        <div class="content">

                                                        </div>
                                                    </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="e is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/pm.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Project Management
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    إدارة المشروعات
                                                </p>
                                                <!-- <small class="is-6">
                                                            <div class="content">

                                                            </div>
                                                        </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="f is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/mission.png">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Mission Critical Solutions
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    الحلول المهام الحرجه
                                                </p>
                                                <!-- <small class="is-6">
                                                        <div class="content">

                                                        </div>
                                                    </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="g is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/telecom.png">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    Telecomunication Engineering
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    هندسة الاتصالات
                                                </p>
                                                <!-- <small class="is-6">
                                                        <div class="content">

                                                        </div>
                                                    </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h is-flex">
                                <div class="grow card is-flex-grow-1">
                                    <div class="card-head p-lg has-border-bottom">
                                        <figure class="image is-radiusless has-white-background center">
                                            <img src="/assets/static/images/index/nosql.png">
                                        </figure>
                                    </div>
                                    <div class="card-content is-link is-radiusless">
                                        <div class="media">
                                            <div class="media-content align-self-center">
                                                <p class="English title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    NoSQL and Large Scale Database Implementation
                                                </p>
                                                <p dir="rtl" class="Arabic title is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-centered">
                                                    NoSQL وتنفيذ قاعدة بيانات واسعة النطاق
                                                </p>
                                                <!-- <small class="is-6">
                                                            <div class="content">

                                                            </div>
                                                        </small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>