<div class="MainHero">
    <div id="angles" class="">
        <div class="iot">

        </div>
    </div>
    <section class="hero is-medium is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-7-desktop is-8-tablet is-12-mobile">
                        <h2 class="title is-size-1-tablet is-size-1-mobile">
                            <span class="English">
                                The leading provider of cutting-edge Information
                                Intelligence solutions in KSA
                            </span>
                            <span class="Arabic" dir="rtl">
                                    الجهة الرائدة في مجال تقديم حلول المعلومات الذكية والمتطورة في المملكة العربية السعودية.
                            </span>
                        </h2>
                        <p class="English is-size-5-tablet is-size-5-mobile">
                            Interkey incubates, integrates and distributes technology in Telecommunications, Business Intelligence, Big Data, IoT and Artificial Intelligence that empower Enterprises, Companies, and Governmental Organizations in the Kingdom of Saudi Arabia
                        </p>
                        <p class="Arabic is-size-5-tablet is-size-5-mobile" dir="rtl">
                        تقوم Interkey بحضانة وتكامل وتوزيع التكنولوجيا في مجال الاتصالات وذكاء الأعمال والبيانات الضخمة وإنترنت الأشياء والذكاء الاصطناعي التي تمكِّن وتعزز المنشآت الخاصة والقطاعات الحكومية في المملكة العربية السعودية.
                        </p>
                    </div>
                    <div class="column is-4-desktop is-offset-1-desktop is-3-tablet is-offset-1-tablet is-6-mobile is-offset-3-mobile center p-t-xl p-b-lg">
                            <img src="/assets/static/images/index/2030.svg" alt="Interkey"
                                width="175" style="border-radius: 3px;height:auto;">
                    </div>


                </div>
            </div>

        </div>
    </section>
</div>