<!-- <div class="Mockups">
    
        <img src="/assets/static/images/index/mocks.png" alt="Hajj Mission">
   
</div>
 -->

<div id="why" class="hero p-t-xl is-paddingless-horizontal">

    <div class="hero-body p-t-xl is-paddingless-horizontal">

        <div class="container is-fluid p-lg">

            <div class="columns is-centered has-text-centered">

                <div class="column is-12 center-column">

                    <h1 class="English title has-text-centered is-fullwidth is-size-2-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold has-text-white">
                        Why Interkey?
                    </h1>
                    <h1 dir="rtl" class="Arabic title has-text-centered is-fullwidth is-size-2-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold has-text-white">
                   لماذا Interkey؟
                    </h1>
                    <p class="English is-size-5 has-text-white">
                        Founded in 1999, Interkey is a leading information technology and communication services providing conglomerate in the MENA region. Serving our clients with different solutions for Networking, Security, Telecommunication, Infrastructure, we have grown to be among the leaders in the ICT industry
                    </p>
                    <p dir="rtl" class="Arabic is-size-5 has-text-white">
                    تأسست Interkey في عام 1999 وهي من الرواد في خدمات تكنولوجيا المعلومات والاتصالات ولها شركات عده في نشاطات مختلفه  في منطقة الشرق الأوسط. تقوم Interkey  بخدمة عملائها باستخدام حلول مختلفة للشبكات والأمن والاتصالات السلكية واللاسلكية والبنية التحتية، فقد نمونا لنصبح من بين القادة في صناعة تكنولوجيا المعلومات والاتصالات.
                    </p>
                </div>

            </div>

        </div>


        <div class="container is-fluid p-lg">



            <div class="columns is-multiline p-t-lg is-centered center-column">

                <div class="one_by_three_grid column is-fullwidth">
                    <div class="a is-flex grow card center-column start">
                        <div class="card-head is-fullwidth p-md has-border-bottom flex-grow-0 center" style="min-height:180px;">
                            <div class="center start">
                                <figure class="align-self-center">
                                    <p class="image is-64x64">
                                        <img src="/assets/static/images/index/noun_collab.svg">
                                    </p>
                                </figure>
                                <div class="p-l-md">
                                    <div>
                                        <p class="English title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                            We stay close
                                        </p>
                                        <p dir="rtl" class="Arabic title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                      نبقي قريبين
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-content is-link is-radiusless flex-grow-1">

                            <div class="align-self-center">
                                <small class="is-6">
                                    <div class="English content">
                                        Interkey believes in engaging with our clients as strategic partners, by translating your corporate needs into effective technology solutions that drive vigorous results, giving your business an undeniable boost. We make sure to meet the standard of services and communication throughout all processes
                                    </div>
                                    <div dir="rtl" class="Arabic content">
                                    تؤمن Interkey بالتعامل مع عملائها كشركاء استراتيجيين، من خلال ترجمة احتياجات شركتك إلى حلول تكنولوجية فعالة تعمل على تحقيق نتائج قوية، مما يمنح شركتك دفعة لا يمكن إنكارها. ونحن نتأكد من تلبية معايير الخدمات والاتصالات في جميع العمليات.
                                    </div>
                                </small>
                            </div>

                        </div>
                    </div>


                    <div class="b is-flex grow card center-column start">
                        <div class="card-head is-fullwidth p-md has-border-bottom flex-grow-0 center" style="min-height:180px;">
                            <div class="center start">
                                <figure class="align-self-center">
                                    <p class="image is-64x64">
                                        <img src="/assets/static/images/index/noun_responsibility.svg">
                                    </p>
                                </figure>
                                <div class="p-l-md">
                                    <div>
                                        <p class="English title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                            We take ownership
                                        </p>
                                        <p dir="rtl" class="Arabic title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                  نحن نملك زمام الأمور
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-content is-link is-radiusless flex-grow-1">

                            <div class="align-self-center">
                                <small class="is-6">
                                    <div class="English content">
                                        We strive to work with our clients as partners, keen to provide their business with future-proof technological solutions, which are architectured by our award-winning team of experts. Our team of experts delivers solutions that are fully functional and carefully documented
                                    </div>
                                    <div dir="rtl" class="Arabic content">
                                    نحن نسعى جاهدين للعمل مع عملائنا كشركاء، مع الحرص على تقديم أعمالهم باستخدام حلول تكنولوجيا المستقبل، والتي تم تصميمها من قبل فريق الخبراء الحائز على جوائز. يقدم فريقنا من الخبراء حلولًا تؤدي وظائفها بالكامل وموثقة بدقة.
                               </div>
                                </small>
                            </div>

                        </div>
                    </div>


                    <div class="c is-flex grow card center-column start">
                        <div class="card-head is-fullwidth p-md has-border-bottom flex-grow-0 center" style="min-height:180px;">
                            <div class="center start">
                                <figure class="align-self-center">
                                    <p class="image is-64x64">
                                        <img src="/assets/static/images/index/noun_quality.svg">
                                    </p>
                                </figure>
                                <div class="p-l-md">
                                    <div>
                                        <p class="English title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                            Impeccable quality and delivery
                                        </p>
                                        <p dir="rtl" class="Arabic title is-size-4-mobile is-size-6-tablet is-size-4-desktop">
                                           تسليم وجودة لا تشوبها شائبة
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-content is-link is-radiusless  flex-grow-1">

                            <div class="align-self-center">
                                <small class="is-6">
                                    <div class="English content">
                                            At Interkey, our primary objective is the delivery of thoroughly customized solutions that meet and exceed our clients' expectations. Each system we install goes through a careful process of quality assessment and validation
                                    </div>
                                    <div dir="rtl" class="Arabic content">
                                    في Interkey، هدفنا الأساسي هو تقديم حلول مخصصة بدقة تلبي وتتجاوز توقعات عملائنا. كل نظام نقوم بتثبيته يمر عبر عملية دقيقة لتقييم الجودة والتحقق من صحتها.
                                      </div>
                                </small>
                            </div>

                        </div>
                    </div>

                </div>



            </div>




        </div>

    </div>




</div>