<div class="hero-body couchbase" style="padding-bottom:0;">

</div>

<main class="hero-foot center" style="padding:1rem; padding-top:0; padding-bottom:0rem;">
    <div id="grid_specs" style="width: 768px;">
        <div id="a" class="center-column hero-body is-paddingless">
            <h1 class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-white has-text-weight-bold has-text-centered">Couchbase Data Platform</h1>
            <h1 class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile has-text-white has-text-weight-regular has-text-centered">NoSQL Performance, Enterprise Reliability, Infinite Scalability</h1>
        </div>
    </div>
</main>