<section id="contact" class="">

    <div class="image-background">

        <div class="hero-body is-fullheight">
            <div class="container is-fullheight center-column top">
                <h1 class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-white">What are you waiting for?</h1>
                <h2 class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-white has-text-weight-bold">Start Playing Now.</h2>
                <a href="mailto:cal@datumcon.com?subject=CouchBase Inquiry" class="button is-danger is-large has-text-weight-bold p-l-lg p-r-lg m-t-lg">Get a free consultancy</a>
            </div>
        </div>

    </div>

</section>
