<section id="features" class="section has-background-black wired-broadcast">


    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Managed Replication</h1>
            <p class="is-size-6 has-text-weight-semibold">
                Couchbase Server provides high availability for reading and writing of data through a variety of
                features. Couchbase provides high availability using intra-cluster replication and index replication,
                and disaster recovery using cross datacenter replication (XDCR).
            </p>

        </div>
    </div>


    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column">
            <div class="column is-7-mobile is-4-tablet is-3-desktop">
                <img class="image is-marginless is-radiusless" src="/assets/static/images/couchbase/wheel.png" alt="">
            </div>
        </div>
    </div>


    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Memory First</h1>
            <p class="is-size-6 has-text-weight-semibold">
                Built on a memory-first architecture, Couchbase ensures that all operations occur in-memory and
                supports special memory-optimized data management options, including 100% memory resident indexes and
                data buckets. This optimizes data-access performance and throughput while also simplifying operational
                management and reducing costs. By achieving memory-speed data transfer between nodes in the cluster,
                Couchbase avoids traditional database disk I/O bottlenecks.
            </p>

        </div>
    </div>
    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column center align-center">
            <div class="column is-7">
                <img class="image is-marginless is-radiusless is-fullwidth" src="/assets/static/images/couchbase/memoryarch.svg"
                    alt="" style="height:auto;">
            </div>
        </div>
    </div>


    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Infinite Scalability</h1>

            <p class="is-size-6 has-text-weight-semibold">
                As part of the core database engine, Couchbase provides an elastic Multi-Dimensional Scaling (MDS)
                architecture that supports both scale-up and scale-out approaches. MDS allows you to separate the
                different data processing workloads as distinct, independently scalable services. You can independently
                configure and scale (up or out) the data, index, query, Full Text Search, and Analytics Services based
                on your data management processing requirements and application workloads. This gives you both the
                scalability to deliver responsive customer applications and the flexibility to adapt to new and
                changing workloads and application requirements.
            </p>

        </div>
    </div>
    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column center align-center">
            <div class="column is-6">
                <img class="image is-marginless is-radiusless is-fullwidth" src="/assets/static/images/couchbase/scalability.svg"
                    alt="" style="height:auto;">
            </div>
        </div>
    </div>

    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Big Data Analytics</h1>

            <p class="is-size-6 has-text-weight-semibold">
                Powerful parallel query processing over JSON data allows you to efficiently execute complex,
                long-running SQL-like queries that contain complex joins and set, aggregation, and grouping operations,
                while addressing the challenges of supporting responsive, scalable apps and ad hoc analytics on the
                same dataset. Couchbase Analytics powerfully combines a common JSON data model with a SQL-like query
                language extended for JSON, effective analytical workload isolation, and up-to-date data freshness via
                a fast memory-to-memory transfer protocol in a single platform. This allows app developers and DevOps
                to build intelligent applications and dashboards that surface insights to customers and business users
                in real time without the overhead and latency of performing separate extract, transform, load (ETL)
                operations.
            </p>

        </div>
    </div>
    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column center align-center">
            <div class="column is-6">
                <img class="image is-marginless is-radiusless is-fullwidth" src="/assets/static/images/couchbase/analytics.svg"
                    alt="" style="height:auto;">
            </div>
        </div>
    </div>

    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Hyper Flexible Querying</h1>

            <p class="is-size-6 has-text-weight-semibold">
                Build and evolve web, mobile, and IoT apps faster using Couchbase’s own query language, N1QL
                (“nickel”). N1QL combines the power and familiarity of SQL with the flexibility and agility of the JSON
                data model. N1QL is a declarative query language that extends SQL for JSON data. You can query data via
                native framework and language integrations, a fluent and easy-to-use API, several Couchbase utilities,
                or available JDBC/ODBC drivers. With N1QL you can query JSON documents without any limitations: sort,
                filter, transform, group, and combine data with a single query. You can combine data from multiple
                documents with a JOIN. And you’re not limited to the “single table” and “table per query” data models
                often found in other NoSQL products.
            </p>

        </div>
    </div>
    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column center align-center">
            <div class="column is-7">
                <img class="image is-marginless is-radiusless is-fullwidth" src="/assets/static/images/couchbase/query.svg"
                    alt="" style="height:auto;">
            </div>
        </div>
    </div>

    <div class="hero-body" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <h1 class="title has-text-white">Mobile Ready</h1>
            <p class="is-size-6 has-text-weight-semibold">
                Couchbase gives you a full-stack data platform for your mobile and IoT apps, including built-in
                real-time data synchronization, enterprise-level security, and data integration with your existing
                ecosystem. Your mobile and IoT apps leverage the full power of the Couchbase Data Platform by using
                Couchbase Server, Couchbase Sync Gateway, and Couchbase Lite to enable secure online and offline data
                access, as well as automatic data synchronization from device to the backend. Data integration APIs let
                you integrate with your existing systems of record, data warehouses, and other legacy systems via Sync
                Gateway or Couchbase Server. Whether you have hundreds, thousands, or millions of devices, Couchbase
                Server and Sync Gateway are independently scalable in real time, enabling you to keep up with changing
                demands.
            </p>

        </div>
    </div>
    <div class="container p-t-lg p-b-lg">
        <div class="columns center-column center align-center">
            <div class="column is-6">
                <img class="image is-marginless is-radiusless is-fullwidth" src="/assets/static/images/couchbase/mobileiot.svg"
                    alt="" style="height:auto;">
            </div>
        </div>
    </div>

</section>
