<header class="hero-body" style="height:20vh;padding-bottom: 0;">
    <div class="container align-self-end center-column">
        <img class="is-fullwidth" src="/assets/static/images/psu-curriculum/psu_logo_text.svg" style="height:20vh;">

    </div>
</header>

<main class="hero-foot center" style="padding:1rem; padding-top:0; padding-bottom:2rem;">
    <div id="grid_specs" style="width: 768px;">
        <div id="a" class="center-column hero-body" style="padding-top:1.5rem;">
            <h1 class="title is-1 has-text-white has-text-weight-bold has-text-centered">Data Science Curriculum</h1>
        </div>
        <div id="b" class="center-column">
            <p class="title has-text-white">
                <i class="fas fa-graduation-cap has-text-white" style="width: 0.75em; height: 0.75em;"></i>
                3<span class="is-size-5"></span>
            </p>
            <p class="subtitle has-text-white is-7">Courses</p>
        </div>
        <div id="c" class="center-column" style="border-left: 1px solid gray;">
            <p class="title has-text-white"><span class="is-size-5"></span>16 <span class="is-size-5">hours</span></p>
            <p class="subtitle is-7 has-text-white">per Course</p>
        </div>
        <div id="d" class="center-column" style="border-left: 1px solid gray;">
            <p class="title has-text-white">48</span><span class="is-size-5"> hours</span></p>
            <p class="subtitle is-7 has-text-white">per Program</p>
        </div>
        <div id="e" class="center-column">
            <a href="#content" class="button is-large-mobile is-danger is-inverted is-rounded is-outlined has-text-weight-bold" style="width: 100%; border: 0.15em solid white;">
                Explore Content
            </a>
        </div>
    </div>
</main>