<section id="features" class="section has-background-almost-black psu-curriculum">


    <div class="hero-body is-paddingless" style="padding-bottom:3rem!important;">
        <div class="container has-text-centered has-text-white">
            <p class="is-size-4 has-text-weight-semibold">
                The Python for Data Science Curriculum, in collaboration with PSU, aims at introducing students to the
                general scientific computing challenges posed by cutting edge research in domains such as: engineering,
                computer science, economics, business intelligence, nanotecnology, and industrial connectivity and security.
            </p>

        </div>
    </div>


    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification center is-info is-radiusless">
                    <h1 class="title is-size-3 is-size-2-mobile">OVERVIEW</h1>
                    <p class="is-size-7 is-size-6-mobile has-text-justified has-text-weight-bold">
                        The training program “Python for
                        Data Science” is designed to
                        provide a comprehensive
                        introduction for either beginners
                        with basic programming
                        background or more advanced
                        developers who would like to step
                        into the world of data science,
                        scientific computing and analytics.
                        At the end of this training course,
                        you will have the required skills to
                        go deeper into more technical data
                        science areas and you will have the
                        necessary background to study hot
                        topics like deep learning and neural
                        networks, and data analytics.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="notification center is-danger is-radiusless">
                    <h1 class="title is-size-3 is-size-2-mobile">PREREQUISITES</h1>
                    <p class="is-size-7 is-size-6-mobile has-text-justified has-text-weight-bold">
                        Anyone with some basic
                        programming background can
                        benefit from the training.
                        Preliminary knowledge of Python is
                        recommended but not
                        necessary. A Crash course on
                        Python will be provided to
                        present the essential concepts.
                        The training program will present all
                        the essential material to access,
                        store, manipulate, visualize, process
                        and analyze data using Python.
                        Target Audience might inlcude students or instructors
                        willing to start their data
                        science learning path, beginner/advanced
                        developers with an interest in
                        data science, and employees in government,
                        private, and industrial sector
                        with an IT background.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>