
<section class="section is-paddingless">
    <div class="grid">
        <figure class="columns is-mobile is-variable is-0 is-marginless grid-xl">
            <div class="column is-paddingless">
                <div class="image card">
                    <img src="/assets/static/images/psu-curriculum/grid_d.jpg">
                </div>
            </div>
            <div class="column is-paddingless">
                <div class="image card">
                    <img src="/assets/static/images/psu-curriculum/grid_f.jpg">
                </div>
            </div>
            <div class="column is-paddingless">
                <div class="image card">
                    <img src="/assets/static/images/psu-curriculum/grid_b.jpg">
                </div>
            </div>
        </figure>
    </div>
</section>