<section class="section is-paddingless">
        <div class="grid">
            <figure class="columns is-mobile is-variable is-0 is-marginless grid-xl">
                <div class="column is-paddingless">
                    <div class="image card">
                        <img src="/assets/static/images/psu-curriculum/grid_a.jpg">
                    </div>
                </div>
                <div class="column is-paddingless">
                    <div class="image card">
                        <img src="/assets/static/images/psu-curriculum/grid_e.jpg">
                    </div>
                </div>
                <div class="column is-paddingless">
                    <div class="image card">
                        <img src="/assets/static/images/psu-curriculum/grid_c.jpg">
                    </div>
                </div>
            </figure>
        </div>
    </section>
