<footer class="footer">
    <div class="columns">
        <div class="column">
            <h3 class="English">Contact</h3>
            <h3 dir="rtl" class="Arabic">للتواصل</h3>
            <hr>
            <ul>
                <li class="is-paddingless">
                    <a class="navbar-item is-paddingless-horizontal is-size-7-tablet is-size-6-desktop is-size-6-mobile"
                        href="tel:+966 11 2180 999">
                        <span class="bd-emoji">📞</span> &nbsp;+966 11 2180 999
                    </a>
                </li>
                <li class="is-paddingless">
                    <a class="navbar-item is-paddingless-horizontal is-size-7-tablet is-size-6-desktop is-size-6-mobile"
                        href="mailto:info@interkey.com.sa">
                        <span class="bd-emoji">📧</span> &nbsp;info@interkey.com.sa
                    </a>
                </li>
                <li class="is-paddingless">
                    <a class="navbar-item is-paddingless-horizontal is-size-7-tablet is-size-6-desktop is-size-6-mobile"
                        href="/login">
                        <span class="bd-emoji">🔑</span> &nbsp;Members Access
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="m-t-none">
    <div class="columns is-centered is-marginless">
        <div class="is-marginless column company-info is-flex center is-size-6-tablet is-size-6-desktop is-size-6-mobile">
            <span class="bd-emoji">📍&nbsp;</span>
            <div>
                <p class="m-b-sm" style="color:#9ba9b5;"> 7th Floor North Tower, Abraj Attawuneya King Fahad Street,
                    P.O Box 56835 Riyadh 11564, Kingdom of Saudi Arabia</p>
            </div>
        </div>
    </div>

</footer>