<div id="mobileMenu" class="non-desktop">
    <!-- <figure style="position: absolute;right: 1.8rem;top: 0.6rem;" id="mobileMenuButton" class="navbar-item image non-desktop" onclick="document.querySelectorAll('#mobileMenu, #mobileMenuButton').forEach(function(e) {e.classList.toggle('open')});">
            <i class="fas fa-3x fa-bars is-size-5"></i>
            <i class="fas fa-3x fa-times is-size-4" style="display:none;"></i>
    </figure> -->
    <div class="columns">
        <div class="column">
            <h3>Interkey</h3>
            <hr>
            <ul>
                <li><a href="/" class="">Home</a></li>
                <li><a href="/login" class="">Members Login</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Products</h3>
            <hr>
            <ul>
                <li><a href="/psu-curriculum" class="">PSU Curriculum</a></li>
                <li><a href="/wired-broadcast" class="">Wired Broadcast</a></li>
                <li><a href="/couchbase" class="">Couchbase</a></li>
                <li><a href="/datum-consultants" class="">Datum Consultants</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Contact</h3>
            <hr>
            <ul>
                <li>
                    <a class="navbar-item is-marginless is-paddingless" href="tel:+966 11 2180 999">
                        <span class="bd-emoji">📞</span> &nbsp;+966 11 2180 999
                    </a>
                </li>
                <li>
                    <a class="navbar-item is-marginless is-paddingless" href="mailto:info@interkey.com.sa">
                        <span class="bd-emoji">📧</span> &nbsp;info@interkey.com.sa
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>